@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* NAVBAR */
nav {
    min-width: 100vw;
    height: 75px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 0 4px 2px rgba(0, 0, 0, 0.25);
    z-index: 10000;
}

nav ul {
    /* border: 2px black solid; */
    position: relative;
    min-width: 50%;
    transform: translateY(7px);
    padding: 0;
}

nav .bttns {
    /* border: 2px red solid; */
    position: absolute;
    width: auto;
    right: 0;
    transform: translateX(-50%);
    padding: 0;
}

.bttns .bttn {
    /* border: 2px black solid; */
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bttns a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
}

.bttns .login {
    background-color: rgba(109, 125, 32, 1);
}

.bttns .register {
    background-color: rgba(23, 89, 74, 1);
}

nav ul li {
    list-style: none;
}

nav ul li img {
    max-width: 35px;
}

/* AKHIR NAVBAR */

main {
    position: relative;
    padding: 70px 50px 0 !important;
}

main .container-main {
    /* border: 2px black solid; */
    padding: 0;
}

/* INDEX */
.index {
    height: auto;
    background: linear-gradient(90deg, rgba(184, 212, 50, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

@font-face {
    font-family: "Horizon";
    src: url('font/Horizon.otf') format('truetype');
}

main .left-container {
    /* border: 2px red solid; */
    height: 100%;
    padding-top: 30px;
}

.left-container .main {
    /* border: 2px black solid; */
    width: 80%;
    margin: 0 auto;
}

.main h1 {
    /* border: 2px red solid; */
    font-family: Horizon, sans-serif;
    color: black;
    font-size: 50px;
}

.main .container-img {
    /* border: 2px white solid; */
    position: relative;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    margin-top: 30px;
}

main .left-container img {
    object-fit: cover;
}

main .right-container {
    /* border: 2px blue solid; */
    height: 100%;
    /* float: right; */
}

main .right-container .logo-img {
    width: 100%;
}

main .right-container img {
    width: 363px;
    height: 363px;
    flex-shrink: 0;
}

main .right-container .explanation-container {
    width: 100%;
}

main .right-container .explanation-container .explanation-main {
    /* border: 2px black solid; */
    width: 500px;
}

main .right-container .explanation-container .explanation-main p {
    /* text-align: center; */
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

main .logo-socmed {
    /* border: 2px red solid; */
    width: 100%;
    padding: 30px 0;
}

.logo-socmed .icons {
    /* border: 2px black solid; */
    width: 90%;
}

main .documentation {
    /* border: 2px red solid; */
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0 50px;
}

.documentation img {
    width: 90%;
}

/* AKHIR INDEX */

/* BERITA */
.berita {
    height: auto;
    background: linear-gradient(90deg, rgba(184, 212, 50, 1) 65%, rgba(255, 255, 255, 1) 1%);
}

main .left-container-news {
    /* border: 2px red solid; */
    height: 100%;
    padding-top: 30px;
}

.left-container-news .top-title p {
    text-transform: uppercase;
}

.left-container-news .top-title .small-title {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.left-container-news .top-title .big-title {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.left-container-news .content {
    /* border: 2px black solid; */
    width: 752px;
    max-width: 752px;
    margin-bottom: 75px;
}

.left-container-news .content p {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.left-container-news .content .main-img {
    /* border: 2px red solid; */
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.left-container-news .content .main-title {
    /* border: 2px white solid; */
    width: 90%;
    margin: 15px auto;
}

.left-container-news .content .main-title p {
    color: #09121F;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.left-container-news .content .footer {
    /* border: 2px red solid; */
    width: auto;
    margin-left: 35px;
}

.left-container-news .content .footer p {
    font-size: 12px;
    text-transform: uppercase;
    transform: translateY(7px);
}

.left-container-news .content .footer .author img {
    width: 30px !important;
    height: 30px !important;
}

.left-container-news .content .footer .author p {
    margin-left: 5px;
}

.left-container-news .other-content {
    /* border: 2px red solid; */
    width: 752px;
    margin-bottom: 30px;
}

.left-container-news .other-content .main-img {
    /* border: 2px blue solid; */
    height: 200px;
    max-height: 200px;
    background: linear-gradient(90deg, rgba(9, 18, 31, 0.50) 90%, rgba(255, 255, 255, 0.00) 10%);
}

.left-container-news .other-content .main-img img {
    width: 250px;
    max-width: 250px;
}

.left-container-news .other-content .main-news {
    /* border: 2px black solid; */
    margin-left: 20px;
}

.left-container-news .other-content .main-news .type {
    font-size: 12px;
    text-transform: uppercase;
}

.left-container-news .other-content .main-news .title p {
    font-size: 20px;
    font-weight: bold;
}

.left-container-news .other-content .main-news .text p {
    font-size: 14px;
}

.left-container-news .other-content .main-news .footer p {
    font-size: 12px;
    text-transform: uppercase;
    transform: translateY(7px);
}

.left-container-news .other-content .main-news .author .name {
    margin-left: 5px;
}

.left-container-news .other-content .main-news p {
    color: #09121F;
    font-family: 'Rubik', sans-serif;
}

.left-container-news .other-content .main-news .footer .author img {
    width: 30px;
    height: 30px;
}

main .right-container-news {
    /* border: 2px blue solid; */
    height: 100%;
    padding-top: 110px;
    background-color: rgba(255, 255, 255, 1);
}

.right-container-news .content {
    width: 370px;
    padding: 30px;
    border-radius: 2px;
    border: 1px solid #EBEBEB;
}

.right-container-news .content img {
    width: 100%;
}

.right-container-news .content p {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.right-container-news .content .title {
    color: #09121F;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.right-container-news .content .footer p {
    color: #A1AFBD;
    font-size: 12px;
    text-transform: uppercase;
    transform: translateY(7px);
}

.right-container-news .content .author img {
    /* border: 2px black solid; */
    width: 30px;
    height: 30px;
}

.right-container-news .content .author .author-name {
    margin-left: 5px;
}

.right-container-news .other-content {
    /* border: 2px red solid; */
    width: 370px;
    margin-top: 50px;
}

.right-container-news .other-content p {
    font-family: 'Rubik', sans-serif;
}

.right-container-news .other-content .main-title {
    padding: 30px;
    border-radius: 2px;
    border-top: 3px solid #09121F;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
}

.right-container-news .other-content .main-title .type {
    color: #787878;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.right-container-news .other-content .main-title .title {
    /* border:  2px red solid; */
    color: #09121F;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.right-container-news .other-content .main-news {
    padding: 30px;
    border-radius: 2px;
    border: 1px solid #EBEBEB;
}

.right-container-news .other-content .main-news .news-image {
    /* border: 2px red solid; */
    align-self: stretch;
}

.right-container-news .other-content .main-news .news-image img {
    width: 50px;
    height: 50px;
    max-width: 50px;
}

.right-container-news .other-content .main-news .news-content {
    /* border: 2px blue solid; */
    margin-left: 20px;
}

.right-container-news .other-content .main-news .news-content .content-title {
    color: #09121F;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 10px;
}

.right-container-news .other-content .main-news .news-content .content-type {
    color: #787878;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.05px;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* AKHIR BERITA */

/* AWAL TEAM */
.main-container-team {
    position: relative;
    width: 1266px;
    height: 100%;
    border-radius: 15px;
    background: rgba(195, 212, 111, 0.60);
    backdrop-filter: blur(2px);
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 5px 2px rgba(195, 212, 111, 0.60);
}

.main-container-team .main-title {
    /* border: 2px red solid; */
    width: 100%;
    padding: 0;
}

.main-container-team .main-title p {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
}

.main-container-team .main-img {
    /* border: 2px red solid; */
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.main-container-team .main-img .images {
    /* border: 2px blue solid; */
    height: 100% !important;
    width: 150px !important;
    margin: 15px;
    display: inline-block;
}

.main-container-team .main-img .images img {
    /* border: 2px red solid; */
    width: 150px;
    height: 180px;
}

.main-container-team .main-img .images .divisi {
    /* border: 2px white solid; */
    background-color: #A1AFBD;
    width: 150px !important;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-team .main-img .images .divisi p {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.3px;
    align-self: center;
    margin: 0;
}

/* AKHIR TEAM */

/* FOOTER */
footer {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: rgba(96, 108, 93, 0.60);
    backdrop-filter: blur(2px);
    padding: 21px 0;
    margin-top: 50px;
}

footer p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #FFF4F4;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer .line {
    width: 100%;
    border: 1.5px #FFF4F4 solid;

}